:root{
    --primario: #161514;
    --primarioOscuro: #89119D;
    --secundario: #c61116;
    --secundarioOscuro: #950d11;
    --colorLetra: #f5f5f5;
    --blanco: #ffffff;
    --mvp: #D4AF37;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteTitulos: 'Comfortaa', cursive;
    --FuenteLogo: 'Indie Flower', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
    color: var(--colorLetra);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuenteTitulos);
}
h1{font-size: 4rem;}
h2{font-size: 3.2rem;}
h3{font-size: 2.4rem;}
.contenedor{
    width: min(90%,120rem);
    margin: 0 auto;
}
/*------------------------------------------Nav-----------------------------------------------*/
.nav{
    text-align-last: center;
    margin-top: 2rem;
}
.nav__img{
    width: 150px;
    border-radius: 50%;
    border: 1px solid var(--secundario);
    background: var(--secundario);
    box-shadow: 0 0 10px var(--secundario),0 0 40px var(--secundario),0 0 80px var(--secundario);
}
.nav__titulo{
    font-family: var(--FuenteLogo);
    letter-spacing: 4px;
    color: var(--primario);
    text-shadow: -2px -2px 1px var(--secundarioOscuro), 2px 2px 1px var(--secundarioOscuro),
     -2px 2px 1px var(--secundarioOscuro), 2px -2px 1px var(--secundarioOscuro);
}
.ejercicios{
    text-align: -webkit-center;
}
.ejercicios__titulo{
    font-family: var(--FuenteLogo);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.ejercicios__img{
    margin: 2.5rem 0;
    border-radius: 2rem;
}
.mvp{
    text-align-last: center;
}
.mvp__img{
    width: 25%;
    border-radius: 10%;
    border: 1px solid var(--mvp);
    padding: .5rem;
    background: var(--mvp);
    box-shadow: 0 0 10px var(--mvp),0 0 40px var(--mvp),0 0 80px var(--mvp);
}
.mvp__text{
    color: var(--mvp);
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
}
.semanas{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 2rem;
    margin: 2rem auto;
}
.semana{
    border-radius: 10%;
    border: 1px solid white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.semana h3{
    font-size: 4rem;
}
.semana img{
    border-radius: 10%;
}